.item {
    width: auto;
    width: 150px;
    max-height: 275px;
    margin: 0 16px 16px;
  .item-image {
    width: calc(100% + 48px);
    margin: 0px -24px 16px;
  }
  .item-price {
    font-size: 20px;
  }
  .item-quantity-remaining {
    margin-top: -2px;
    margin-bottom: 0;
    font-weight: 300;
  }
}
