.shopping-cart {
  min-width: 300px;
}

.cart-item {
  .text-item-name{
    font-size: 18px;
  }
  .text-small{
    font-weight: 300;
  }
  .mat-list-text {
    order: 2;
    font-weight: 300;
  }
  button.cart-item-remove {
    order: 1;
    
  }
}

.quantity-button {
  width: 16px;
  height: 16px;
  line-height: 16px;
  .mat-button-wrapper {
    width: 16px;
    height: 16px;
    line-height: 16px;
  }
}

md-icon.quantity-button-icon {
  font-size: 16px;
  height: 16px;
  width: 14px;
  line-height: 16px;
}
