<md-card class="shopping-cart">
  <md-card-title>
    Shopping Cart
  </md-card-title>
  <md-card-subtitle>{{totalItems}} items in cart</md-card-subtitle>
  <md-card-content>
    <md-list>
      <md-list-item class="cart-item" *ngFor="let item of (cartItems | async)">
        <h4 md-line class="text-item-name">{{item.itemName | titleCase }}</h4>
        <p md-line>
          <button md-icon-button class="quantity-button" color="primary" (click)="updateQuantity(item.itemName,-1)" [disabled]="item.quantity < 1"><md-icon class="quantity-button-icon">remove</md-icon></button>
          <span class="text-quantity" >{{item.quantity}}</span>
          <button md-icon-button class="quantity-button" color="primary" (click)="updateQuantity(item.itemName,1)" [disabled]="item.quantity >= item.quantityRemaining"><md-icon class="quantity-button-icon">add</md-icon></button>
          <span class="text-small">{{item.quantity===1?' item':' items'}}</span>
        </p>
        <p md-line class="text-small">
          @ ${{item.price}} each = <b>${{item.totalCost}}</b>
        </p>
        <button md-icon-button class="cart-item-remove" color="warn" (click)="removeItem(item.itemName)"><md-icon>delete</md-icon></button>
      </md-list-item>
    </md-list>
    <md-divider></md-divider>
  </md-card-content>
  <md-card-title align="end">
    Total: ${{cartTotal}}
  </md-card-title>
  <md-card-actions align="end">
    <button md-button [disabled]="cartTotal === 0" (click)="clearCart()">Clear Cart</button>
    <button md-raised-button color="primary" [disabled]="cartTotal === 0" (click)="confirmPurchase()">Confirm Purchase</button>
  </md-card-actions>
</md-card>
