.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100%;
  width: 100%; 

 app-items-gallery{
   flex: 2 100%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   margin: 16px;
 }
 app-shopping-cart{
    flex: 0;
    margin: 16px;
 } 
}