/* You can add global styles to this file, and also import other style files */
body{
    padding: 0;
    margin: 0;
}
@import './app/app.theme.scss';

[md-button],
[md-raised-button] {
  text-transform: uppercase;
}
